# Environnement
.env
.venv

# Cache
__pycache__/
*.pyc

# Database
db.sqlite3

# Logs
debug.log

# Only for Development
*/migrations
**/migrations/**
!**/migrations
!**/migrations/__init__.py

# VsCode
settings.json
.TODO